!!!
%html
  %head
    %title ChatSpace
    %link{:rel => "stylesheet"}
  %body
    .chat-left
      .chat-user
      .chat-group
    .caht-right
      .chat-right-post
    .chat-bottom
      .chat-bottom-message
